<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit Data</title>
    <style>
      /* CSS cho form */
      body {
        font-family: Arial, sans-serif;
      }
      form {
        width: 300px;
        margin: 0 auto;
      }
      label {
        display: block;
        margin-bottom: 5px;
      }
      input[type="text"],
      input[type="password"],
      input[type="email"] {
        width: calc(100% - 10px);
        padding: 5px;
        margin-bottom: 10px;
      }
      input[type="submit"] {
        width: 100%;
        padding: 10px;
        background-color: #007bff;
        color: #fff;
        border: none;
        cursor: pointer;
      }
      input[type="submit"]:hover {
        background-color: #0056b3;
      }
    </style>
  </head>
  <body>
    <h2>Edit Data</h2>
    <!-- <%= JSON.stringify(userEdit) %> -->
    <form action="/postEditUser" method="post">
      <label for="name">Name:</label>
      <input
        type="text"
        id="name"
        name="name"
        value="<%= userEdit.name %>"
        required
      />

      <label for="username">Username:</label>
      <input
        type="text"
        id="username"
        name="username"
        value="<%= userEdit.username %>"
        required
      />

      <label for="password">Password:</label>
      <input
        type="password"
        id="password"
        name="password"
        value="<%= userEdit.pass %>"
        required
      />

      <label for="email">Email:</label>
      <input
        type="email"
        id="email"
        name="email"
        value="<%= userEdit.email %>"
        required
      />

      <input type="submit" value="Save Changes" />
    </form>
  </body>
</html>
