<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bảng Hiển Thị User</title>
    <style>
      /* CSS cho bảng */
      table {
        width: 100%;
        border-collapse: collapse;
      }
      th,
      td {
        border: 1px solid #dddddd;
        padding: 8px;
        text-align: left;
      }
      th {
        background-color: #f2f2f2;
      }
    </style>
  </head>
  <body>
    <h2>Danh Sách Người Dùng</h2>
    <!-- <%= JSON.stringify(listUser) %> -->
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Username</th>
          <th>Password</th>
          <th>Email</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <% for (let i = 0; i< listUser.length; i++) { %>
        <tr>
          <td><%= listUser[i].name %></td>
          <td><%= listUser[i].username %></td>
          <td><%= listUser[i].pass %></td>
          <td><%= listUser[i].email %></td>
          <td>
            <a href="/editUser/<%= listUser[i].name %>">Edit</a>
            <form
              action="/postDeleteUser/<%= listUser[i].name %>"
              method="post"
            >
              <button>Delete</button>
            </form>
          </td>
        </tr>
        <%} %>
      </tbody>
    </table>
  </body>
</html>
